<body>
    <head>
        <link rel="stylesheet" href="genre.component.css">
    </head>
<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <!--  -->

           

            <!--  -->
            <div class="col-md-12">
                <div class="card card-plain">
                    <div class="header">
                        <h4 class="title">Genre Table</h4>
                        <p class="category"></p>
                    </div>
                    
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th *ngFor="let cell of tableData2.headerRow">{{ cell }}</th>
                                    <th></th>
                                    <th></th>
                                </tr>
                                
                            </thead>
                            <tbody>
                                <tr *ngFor="let row of tableData2.dataRows; let i = index;">
                                    <td *ngFor="let cell of row">{{cell}}</td>
                                    <td>
                                        <button pButton pRipple type="button" label="" class="p-button-rounded" (click) = "showConfirm(i)">Delete</button>
                                    </td>
                                    <td>
                                        <button pButton pRipple type="button" label="" class="p-button-rounded" (click)="updatepopup(true, i)">Update</button>
                                    </td>
                                </tr>
                                
                            </tbody>
                        </table>
                    
                </div>
            </div>
            
        </div>
    </div>
</div>

<p-dialog [(visible)]="display" [style]="{width: '50vw'}" >
    <ng-template pTemplate="header" style="font-size: xx-large" > 
       <p style="font-size: xx-large;"> Genre Table Update</p>
    </ng-template>
    <br>
    <br>
    <div class="sizes">
        <span class="p-float-label">
            <input #genreNameonUpdate class="p-inputtext-lg" id="float-input" type="text" pInputText [(ngModel)]="updatedName" required="true"> 
            <label for="float-input" id="nameArea">Name</label>
        </span>
    </div>
    <br>
    <br>
    <div class="sizes">
        <span class="p-float-label">
            <input #genreCodeOnUpdate class="p-inputtext-lg" id="float-input" type="text" pInputText [(ngModel)]="updatedSurname" required="true"> 
            <label for="float-input" id="surnameArea" >Code</label>
        </span>
    </div>
    <br>
    <br>
    <p-messages [(value)]="msgs" [enableService]="false"></p-messages>
    <ng-template pTemplate="footer">
        <button pButton pRipple type="button" label="confirm" class="p-button-rounded" (click) = "onUpdateConfirm(genreNameonUpdate,genreCodeOnUpdate )"></button>
        <button pButton pRipple type="button" label="close" class="p-button-rounded" (click) = "updatepopup(false)"></button>
    </ng-template>
</p-dialog>


<script src="https://kit.fontawesome.com/yourcode.js" crossorigin="anonymous"></script>
<p-toast position="bottom-center" key="c" (onClose)="onReject()" [baseZIndex]="5000">
    <ng-template let-message pTemplate="message">
        <div class="p-flex p-flex-column" style="flex: 1">
            <div class="p-text-center">
                <i class="pi pi-exclamation-triangle" style="font-size: 3rem"></i>
                <h4>{{message.summary}}</h4>
                <p>{{message.detail}}</p>
            </div>
            <div class="p-grid p-fluid">
                <div class="p-col-6">
                    <button type="button" pButton (click)="onConfirm()" label="Yes" class="p-button-success"></button>
                </div>
                <div class="p-col-6">
                    <button type="button" pButton (click)="onReject()" label="No" class="p-button-secondary"></button>
                </div>
            </div>
        </div>
    </ng-template>
</p-toast>


<p-toast position="top-right" key="tl"></p-toast>

</body>