<body>
    <head>
        <link rel="stylesheet" href="genre.component.css">
    </head>
<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <!--  -->

            <div class="main_card">
                <div class="cardadd">
                    <form class="card-form" style="color: #333333;">
                        Genre Name
                        <div class="input">
                            <input type="text" class="input-field" required/>
                            <label class="input-label"></label>
                        </div>
                        <br>
                        Code
                         <div class="input">
                            <input type="text" class="input-field" required/>
                            <label class="input-label"></label>
                        </div>
                        <br>
                        <div class="action">
                            <button class="action-button">Add</button>
                        </div>
                    </form>
                </div>
            </div>

            <!--  -->
            <div class="col-md-12">
                <div class="card card-plain">
                    <div class="header">
                        <h4 class="title">Genre Table</h4>
                        <p class="category"></p>
                    </div>
                    
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th *ngFor="let cell of tableData2.headerRow">{{ cell }}</th>
                                    <th></th>
                                    <th></th>
                                </tr>
                                
                            </thead>
                            <tbody>
                                <tr *ngFor="let row of tableData2.dataRows">
                                    <td *ngFor="let cell of row">{{cell}}</td>
                                    <td>
                                        <button pButton pRipple type="button" label="" class="p-button-rounded">Delete</button>
                                    </td>
                                    <td>
                                        <button pButton pRipple type="button" label="" class="p-button-rounded" (click)="updatepopup(true, i)">Update</button>
                                    </td>
                                </tr>
                                
                            </tbody>
                        </table>
                    
                </div>
            </div>
            
        </div>
    </div>
</div>

<p-dialog [(visible)]="display" [style]="{width: '50vw'}" >
    <ng-template pTemplate="header" style="font-size: xx-large" > 
       <p style="font-size: xx-large;"> Genre Table Update</p>
    </ng-template>
    <br>
    <br>
    <div class="sizes">
        <span class="p-float-label">
            <input class="p-inputtext-lg" id="float-input" type="text" pInputText [(ngModel)]="updatedName" required="true"> 
            <label for="float-input" id="nameArea">Name</label>
        </span>
    </div>
    <br>
    <br>
    <div class="sizes">
        <span class="p-float-label">
            <input class="p-inputtext-lg" id="float-input" type="text" pInputText [(ngModel)]="updatedSurname" required="true"> 
            <label for="float-input" id="surnameArea" >Code</label>
        </span>
    </div>
    <br>
    <br>
    <ng-template pTemplate="footer">
        <button pButton pRipple type="button" label="confirm" class="p-button-rounded" (click) = "updatePerson()"></button>
        <button pButton pRipple type="button" label="close" class="p-button-rounded" (click) = "updatepopup(false)"></button>
    </ng-template>
</p-dialog>


<script src="https://kit.fontawesome.com/yourcode.js" crossorigin="anonymous"></script>


</body>