.bn33 {
  border: 5em;
  cursor: pointer;
  outline: none;
  font-size: 16px;
  -webkit-transform: translate(0);
  transform: translate(0);
  background-image: linear-gradient(45deg, #7745B9, #B190DF);
  padding: 0.7em 2em;
  border-radius: 1px;
  box-shadow: 1px 1px 10px rgba(255, 255, 255, 0.438);
  -webkit-transition: box-shadow 0.25s;
  transition: box-shadow 0.25s;
  color: white;
  transition: all .2s ease-in-out;
  margin-left: 50%;
}
.bn33:hover{
  transform: scale(0.9);
}
.bn34{
  border: 5em;
  cursor: pointer;
  outline: none;
  font-size: 16px;
  -webkit-transform: translate(0);
  transform: translate(0);
  background-image: linear-gradient(45deg, #7745B9, #B190DF);
  padding: 0.7em 2em;
  border-radius: 1px;
  box-shadow: 1px 1px 10px rgba(255, 255, 255, 0.438);
  -webkit-transition: box-shadow 0.25s;
  transition: box-shadow 0.25s;
  color: white;
  transition: all .2s ease-in-out;
}
.bn34:hover{
  transform: scale(0.9);
}
.p-inputtext-lg{
font-size: 25px;
}


.bn33 {
  border: 5em;
  cursor: pointer;
  outline: none;
  font-size: 16px;
  -webkit-transform: translate(0);
  transform: translate(0);
  background-image: linear-gradient(45deg, #7745B9, #B190DF);
  padding: 0.7em 2em;
  border-radius: 1px;
  box-shadow: 1px 1px 10px rgba(255, 255, 255, 0.438);
  -webkit-transition: box-shadow 0.25s;
  transition: box-shadow 0.25s;
  color: white;
  transition: all .2s ease-in-out;
  margin-left: 50%;
}
.bn33:hover{
  transform: scale(0.9);
}

body {
margin: 0;
padding: 0;
font-family: 'Roboto', sans-serif;
}

.main_card {
color: #fff;
width: 760px;
height: 390px;
margin: 50px auto;
display: -webkit-box;
display: -ms-flexbox;
display: flex;
max-width: 770px;
background: gray; 
background: -webkit-linear-gradient(to right, gray, #00C9FF);
background: -webkit-gradient(linear, left top, right top, from(#fe92f5), to(#6f00ff));
background: -webkit-linear-gradient(left, #B190DF, #7745B9);
background: -o-linear-gradient(left, #B190DF, #7745B9);
background: linear-gradient(to right, #B190DF, #7745B9); 
-webkit-box-shadow: 0 0 40px rgba(0,0,0,0.3); 
        box-shadow: 0 0 40px rgba(0,0,0,0.3);
}

.card_left {
width: 90%;
}

.card_datails {
width: 90%;
padding: 30px;
margin-top: -25px;
}
.card_datails  h1 {
font-size: 30px;
}
.card_right img {
height: 390px;
border-radius: 2px;
}
.card_right {
border-radius: 2px;
}

.card_cat {
width: 100%;
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-webkit-box-pack: justify;
    -ms-flex-pack: justify;
        justify-content: space-between;
}

.PG, .year, .genre, .time {
color: fff;
padding: 10px;
font-weight: bold;
border-radius: 15px;
}

.PG {
background: -webkit-linear-gradient(left, #7745B9, #B190DF);
background: -o-linear-gradient(left, #7745B9, #B190DF);
background: linear-gradient(to right, #7745B9, #B190DF); 
-webkit-box-shadow: 0 0 50px rgba(0,0,0,0.1);
        box-shadow: 0 0 50px rgba(0,0,0,0.1);
-webkit-transition: 300ms ease-in-out;
}

.disc {
font-weight: 100;
line-height: 27px;
color:rgb(66, 66, 66);

}
a {
color: darkcyan;
display: block;
text-decoration: none;
}
.social-btn {
margin-left: -10px;
}
button {
color: #fff;
border: none;
padding: 20px;
outline: none;
font-size: 12px;
margin-top: 30px;
margin-left: 10px;
background: -webkit-linear-gradient(left, #7745B9, #B190DF);
background: -o-linear-gradient(left, #7745B9, #B190DF);
background: linear-gradient(to right, #7745B9, #B190DF); 
border-radius: 12px;
-webkit-box-shadow: 0 0 20px rgba(0,0,0,0.2);
        box-shadow: 0 0 20px rgba(0,0,0,0.2);
-webkit-transition: 300ms ease-in-out;
-o-transition: 200ms ease-in-out;
transition: 200ms ease-in-out;
}

button:hover {
-webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
        transform: scale(1.1);
}
.play_btn {
height: 100%;
margin: -394px auto;
position: relative;
text-align: center;
background: rgba(0, 244, 170,0.4);
box-shadow: 0 0 50px rgba(0,0,0,0.2);
}
.fa-play-circle {
color: #255;
font-size: 160px;
margin-top: 110px;
-webkit-animation: bounce 1.0s -0.4s infinite;
        animation: bounce 1.0s -0.4s infinite;
}

.fa-play-circle:hover {
color: black;
animation: bounce 0.4s infinite;
}
@-webkit-keyframes bounce {
8% {
  transform: scale(0.3);
  -webkit-transform: scale(0.8);
  opacity: 1;
}
10% {
  transform: scale(1.8);
  -webkit-transform: scale2;
  opacity: 0;
  }
}

@keyframes bounce {
8% {
  transform: scale(0.3);
  -webkit-transform: scale(0.8);
  opacity: 1;
}
20% {
  transform: scale(1.8);
  -webkit-transform: scale2;
  opacity: 0;
  }
}





/*  FOLLOW*/
.Follow {	  background:url("https://pbs.twimg.com/profile_images/959092900708544512/v4Db9QRv_bigger.jpg")no-repeat center / contain;
width: 50px;
height: 50px;
bottom: 9px;
right: 20px;
display:block;
position:fixed;
border-radius:50%;
z-index:999;
animation:  rotation 10s infinite linear;
}

.p-inputtext-lg{
font-size: 25px;
}	

@-webkit-keyframes rotation {
  from {
      -webkit-transform: rotate(0deg);
  }
  to {
      -webkit-transform: rotate(359deg);
  }
}

@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');


.cardadd {
margin: 2rem auto;
display: flex;
flex-direction: column;
width: 100%;
max-width: 720px;
background-color: #FFF;
border-radius: 10px;
box-shadow: 0 10px 20px 0 rgba(#999, .25);
padding: .75rem;
}

.card-image {
border-radius: 8px;
overflow: hidden;
padding-bottom: 65%;
background-image: url('https://assets.codepen.io/285131/coffee_1.jpg');
background-repeat: no-repeat;
background-size: 150%;
background-position: 0 5%;
position: relative;
}

.card-heading {
position: absolute;
left: 10%;
top: 15%;
right: 10%;
font-size: 1.75rem;
font-weight: 700;
color: #735400;
line-height: 1.222;

}

.card-form {
padding: 2rem 1rem 0;
}

.input {
display: flex;
flex-direction: column-reverse;
position: relative;
padding-top: 1.5rem;
  color:#333333;

}

.input-label {
color: #8597a3;
position: absolute;
top: 1.5rem;
transition: .25s ease;
}

.input-field {
border: 0;
z-index: 1;
background-color: transparent;
border-bottom: 2px solid #eee; 
font: inherit;
font-size: 1.125rem;
padding: .25rem 0;

}

.action {
margin-top: 2rem;
}

.action-button {
font: inherit;
font-size: 1.25rem;
padding: 1em;
width: 100%;
font-weight: 500;
background-color: #6658d3;
border-radius: 6px;
color: #FFF;
border: 0;

}

.card-info {
padding: 1rem 1rem;
text-align: center;
font-size: .875rem;
color: #8597a3;

}








