    <head>
        <link rel="stylesheet" href="info.component.css">
    </head>


   
<div class="main-content" *ngIf="movie">
    <div class="container-fluid">
        <div class="row">
            <!-- =======================MOVIE CARD======================= -->
            <div class="main_card">
                <div class="card_left">
                    <div class="card_datails">
                        <h1>{{movie.name}}</h1>
                        <div class="card_cat">
                            <p class="PG">IMDB: {{movie.rate}}</p>
                            <!-- <p class="PG">{{movie.movieGenre}}</p> -->
                            <p class="PG">{{movie.fullYear}}</p>
                            <p class="PG">{{movie.runTime}} min</p>
                        </div>
                        <p class="disc">{{movie.description}}</p>

                
                        <hr>
                           

                    <div style="align-items: center;margin-left: 25%;">
                        <div style=" align-self: center;margin-left: 10px; float: left;" *ngFor="let genre of movie.genres">
                        <p> {{genre}}</p>
                        </div>
                   
                    </div>  
                    </div>
                </div>
                <div class="card_right">
                    <div class="img_container">
                        <img src="{{movie.posterURL}}" alt="">
                        </div>
                        
                    </div>
                </div>

            <!-- <p-dropdown [options]="items" [(ngModel)]="item" placeholder="Select Item" [virtualScroll]="true" [itemSize]="31"
            [filter]="false"></p-dropdown>-->
            <!-- =======================table cast======================= --> 
            <div class="col-md-12">
                <div class="card card-plain">
                    <div class="header">
                        <h4 class="title">Cast Table</h4>
                    </div>                       
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th *ngFor="let cell of CastTable.headerRow">{{ cell }}</th>
                                    <th></th>
                                    <th></th>
                                </tr>  
                            </thead>
                            <tbody>
                                <tr *ngFor="let row of CastTable.dataRows; let i = index;"  >
                                    <td *ngFor="let cell of row">{{cell}}</td>
                                    <td>
                                        <button pButton pRipple type="button" label="" class="p-button-rounded" (click) = "showConfirm(i)">Delete</button>
                                    </td>
                                    <td>
                                        <button pButton pRipple type="button" label="" class="p-button-rounded" (click)="updatepopup(true, i)">Update</button>
                                    </td>
                                </tr>  
                            </tbody>
                        </table>
                </div>
            </div>
            <!-- =======================table writers======================= --> 
            <div class="col-md-12">
                <div class="card card-plain">
                    <div class="header">
                        <h4 class="title">Writers Table</h4>
                    </div>                       
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th *ngFor="let cell of WriterTable.headerRow">{{ cell }}</th>
                                    <th></th>
                                    <th></th>
                                </tr>  
                            </thead>
                            <tbody>
                                <tr *ngFor="let row of WriterTable.dataRows; let i = index;">
                                    <td *ngFor="let cell of row">{{cell}}</td>
                                    <td>
                                        <button pButton pRipple type="button" label="Primary" class="p-button-rounded" (click) = "showConfirm(i)">Delete</button>
                                    </td>
                                    <td>
                                        <button pButton pRipple type="button" label="Primary" class="p-button-rounded" (click)="updatepopup(true,1)">Update</button>
                                    </td>
                                </tr>  
                            </tbody>
                        </table>
                </div>
            </div>
             <!-- =======================table directors======================= --> 
            <div class="col-md-12">
                <div class="card card-plain">
                    <div class="header">
                        <h4 class="title">Directors Table</h4>
                    </div>
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th *ngFor="let cell of DirectorTable.headerRow">{{ cell }}</th>
                                    <th></th>
                                    <th></th>
                                </tr>  
                            </thead>
                            <tbody>
                                <tr *ngFor="let row of DirectorTable.dataRows;  let i = index;">
                                    <td *ngFor="let cell of row">{{cell}}</td>
                                    <td>
                                        <button pButton pRipple type="button" label="Primary" class="p-button-rounded" (click) = "showConfirm(i)">Delete</button>
                                    </td>
                                    <td>
                                        <button pButton pRipple type="button" label="Primary" class="p-button-rounded" (click)="updatepopup(true,1)">Update</button>
                                    </td>
                                </tr>  
                            </tbody>
                        </table>
                </div>
            </div>
        </div>
    </div>
</div>


<script src="https://kit.fontawesome.com/yourcode.js" crossorigin="anonymous"></script>



<p-dialog [(visible)]="display" [style]="{width: '50vw'}" >
    <ng-template pTemplate="header" style="font-size: xx-large" > 
       <p style="font-size: xx-large;"> Cast Table Update</p>
    </ng-template>
    <br>
    <br>
    <div class="sizes">
        <span class="p-float-label">
            <input #personName class="p-inputtext-lg" id="float-input" type="text" pInputText [(ngModel)]="updatedName" required="true"> 
            <label for="float-input" id="nameArea">Name</label>
        </span>
    </div>
    <br>
    <br>
    <div class="sizes">
        <span class="p-float-label">
            <input  #personSurname class="p-inputtext-lg" id="float-input" type="text" pInputText [(ngModel)]="updatedSurname" required="true"> 
            <label for="float-input" id="surnameArea" >Surname</label>
        </span>
    </div>
    <br>
    <br>
    <p-messages [(value)]="msgs" [enableService]="false"></p-messages>

    <ng-template pTemplate="footer">
        <button pButton pRipple type="button" label="confirm" class="p-button-rounded" (click) = "updatePerson(personName, personSurname)"></button>
        <button pButton pRipple type="button" label="close" class="p-button-rounded" (click) = "updatepopup(false)"></button>
    </ng-template>
</p-dialog>


<p-toast position="bottom-center" key="c" (onClose)="onReject()" [baseZIndex]="5000">
    <ng-template let-message pTemplate="message">
        <div class="p-flex p-flex-column" style="flex: 1">
            <div class="p-text-center">
                <i class="pi pi-exclamation-triangle" style="font-size: 3rem"></i>
                <h4>{{message.summary}}</h4>
                <p>{{message.detail}}</p>
            </div>
            <div class="p-grid p-fluid">
                <div class="p-col-6">
                    <button type="button" pButton (click)="onConfirm()" label="Yes" class="p-button-success"></button>
                </div>
                <div class="p-col-6">
                    <button type="button" pButton (click)="onReject()" label="No" class="p-button-secondary"></button>
                </div>
            </div>
        </div>
    </ng-template>
</p-toast>

<p-toast position="top-right" key="tl"></p-toast>

