<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card card-plain">
                    <div class="header">
                        <h4 class="title">Table on Plain Background</h4>
                        <p class="category">Here is a subtitle for this table</p>
                    </div>
                    <div class="content table-responsive table-full-width">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>Info</th>
                                    <th *ngFor="let cell of tableData2.headerRow">{{ cell }}</th>
                                    <th></th>
                                    <th></th>
                                </tr>
                                
                            </thead>
                            <tbody>
                                <tr *ngFor="let row of tableData2.dataRows; let i = index;">
                                    <td>
                                        <button class="bn34" [routerLink]="['/info/',guidArray[i]]" (click) = "specifyRouteInput(i)">
                                            
                                            <div class="column">
                                                <div class="fa fa-info">
                                                    <a ></a>
                                                </div>
                                            </div>                                    
                                    </button>
                                    </td>
                                    <td *ngFor="let cell of row">{{cell}}</td>
                                    <td>
                                        <button class="bn33">
                                            
                                                <div class="column">
                                                    <div class="fa fa-trash">
                                                
                                                    </div>
                                                </div>
                                                <div class="column">
                                                    <div>
                                                        Delete
                                                    </div>
                                                </div>
                                        
                                        </button>
                                    </td>
                                    <td>
                                        <button class="bn33">
                                            <div class="column">
                                                <div class="fa fa-pencil">
                                            
                                                </div>
                                            </div>
                                            <div class="column">
                                                <div>
                                                    Update
                                                </div>
                                            </div>
                                        </button>
                                    </td>
                                </tr>
                                
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</div>
